body {
    width: 100%;
    padding-top: 50px;
    font-family: 'Julius Sans One', sans-serif;
    background-image: url("../img/zophia-logo-tree2_1_orig.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 150px;
    background-position-x: 1200px;
}

.contact-header {
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
}

.form-group {
    font-family: sans-serif;
}