nav {
    font-size: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-size: large;
}

.navbar-brand {
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-size: xx-large;
}

.container {
    width: auto;
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .nav {
        text-align: center;
        margin-right: 30%;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 28px;
    }
}