body {
    width: 100%;
    padding-top: 50px;
    font-family: 'Julius Sans One', sans-serif;
    background-image: url("../img/zophia-logo-tree2_1_orig.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: 150px;
}

.col-lg-12 {
    padding-top: 30px;
    text-align: center;
}

.card {
    background: none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.nav-tabs {
    background: #fff;
    font-size: 35px;
}

.tab-content {
    padding: 10px 20px 10px 20px;
    font: black;
    font-size: 18px;
    background-color: whitesmoke;
    opacity: 0.9;
    overflow: auto;
}

.reiki-header {
    text-align: center;
}

.chakra {
    float: right;
    margin: 15px;
}

.energy {
    float: left;
    margin: 15px;
}

.head-massage-header {
    text-align: center;
}

.head-massage-img {
    height: 200px;
    margin-top: 90px;
    margin-left: 80px;
}

.foot-massage-header {
    text-align: center;
}

.foot-massage-img {
    height: 300px;
    margin-right: 60px;
    margin-left: 40px;
}

.hot-stones-header {
    text-align: center;
}

.buddha {
    margin-left: 60px;
    margin-top: 80px;
    width: 590px;
}

.hot-stones-tower-img {
    float: right;
    margin: 15px;
    height: 200px;
}

.hot-stones-massage-img {
    margin-left: 60px;
    margin-top: 60px;
}

.aromatherapy-header {
    text-align: center;
}

.aroma-img-left {
    width: 380px;
}

.aroma-img-right {
    margin-right: 10px;
    width: 380px;
}

.facial-header {
    text-align: center;
}

.facial-list {
    margin-left: 130px;
    font-size: 20px;
}

.facial-img {
    margin-top: 90px;
}