body {
    width: auto;
    padding-top: 50px;
    font-family: 'Julius Sans One', sans-serif;
    background-image: url("../img/zophia-logo-tree2_1_orig.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: 150px;
}

.treatments-header {
    padding-top: 30px;
    text-align: center;
    font-size: 100px;
}


.card {
    background: none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.nav-tabs {
    background: rgb(255, 255, 255);
    font-size: 35px;
    width: 100%;
}

.tab-content {
    padding: 10px 20px 20px 20px;
    font: black;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.925);
    overflow: auto;
}

p{
    text-align:center;
}

#info{
    font-size: 25px;
}

.book-btn {
    text-align: center;
}

.reiki-header {
    text-align: center;
}

.chakra {
    float: right;
    padding: 15px;
}

.energy {
    float: left;
    padding: 15px;
}

.head-massage-header {
    text-align: center;
}

.head-massage-img {
    text-align: center;
    margin-top: 90px;
    max-width: 100%;
    
}

.foot-massage-header {
    text-align: center;
}

.foot-massage-img {
    max-width: 100%;
    margin-right: 60px;
    
}

.hot-stones-header {
    text-align: center;
}

.stone-massage-imgs {

    text-align: center;

}

.buddha {
    
    margin-top: 80px;
    max-width: 100%;
}

.hot-stones-tower-img {
    float: right;
    margin: 15px;
    max-width: 100%;
}

.hot-stones-massage {
    text-align: center;
}

.hot-stones-massage-img {
    
    margin-top: 60px;
    max-width: 100%;
}

.hot-stones-benefits {
    font-size: 18px;
}

.aromatherapy-header {
    text-align: center;
}

.aroma-left {
    text-align: center;
}

.aroma-img-left {
    padding: 15px;
    max-width: 100%;
}

.aroma-right {
    text-align: center;
}

.aroma-img-right {
    padding:15px;
    max-width: 100%;
}

.facial-header {
    text-align: center;
}

.facial-list {
    margin-left: 10px;
    font-size: 30px;
}

.facial {
    text-align: center;
}

.facial-img {
    max-width: 100%;
    padding: 15px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
     
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
        
    .facial-list {
        font-size: 25px;
    } 

}
     
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .nav-tabs {
        text-align: center;
        font-size: 25px;
        
    }

    .facial-list {
        font-size: 25px;
    } 

    
}
     
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .nav-tabs {
        text-align: center;
        font-size: 25px;
        
    }

    .treatments-header {
        font-size: 60px;
    }

    .facial-list {
        font-size: 20px;
    }    

}
 
/* Portrait phones and smaller */
@media (max-width: 480px) {

    .nav-tabs {
        text-align: center;
        font-size: 25px;
        
    }

    .treatments-header {
        font-size: 40px;
    }

    .hot-stones-benefits {
        font-size: 16px;
    }

}