<link href="css/about.css" rel="stylesheet">

<div class="about-header container">
    <div class="col-xs-12">
        ZOPHIAS HOLISTIC
    </div>
</div>
<hr>
<div class="about container">
    <div class="row">
        <img class="col-xs-12" src="img/zophia-logo-tree2_1_orig.jpg">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                <b>Where does the name "
                    <strong>Zophias</strong>" come from?</b>
            </h2>
            <p style="font-size: 20px">Well, it is an ancient Greek word meaning "
                <b>Wisdom</b>". </p>
            <br>
            <p style="font-size: 20px">​This word came to our attention through 'divine intervention' so it seemed appropriate that we name ourselves
                Zophias, as we are constantly learning and sharing Wisdom with one another throughout our lives.</p>
            <br>
            <p style="font-size: 20px">We have over 15 years of practice in the industry and all our therapists are insured and fully qualified. We
                always give a professional and confidential service and put our clients needs first. We are trained in a
                full range of therapies and you can access more information on these using the tabs above.</p>
            <br>
            <p style="font-size: 35px">
                <b>We look forward to meeting you!</b>
            </p>
        </div>
    </div>

</div>