<link href="css/courses.css" rel="stylesheet">

<div class="courses-header">
    COURSES
</div>

<hr>

<div class="content container">
    <div class="row">
        <div class="cbl col-xs-12 col-md-4">
            <img class="cbl-img" src="img/centre-based-learning.jpg">
            <h1 id="cbl-header">
                Center Based Learning
            </h1>
            <hr id="hr-1">
            <p class="left-p">
                ​Our on-site training courses are available to everyone, from those who are familiar with the treatments to those who have
                had no experience at all. All our courses are certified and each has a course manual along with other helpful
                tips and tools for you to take away with you. Our centre based courses are non-residential and held at our
                relaxing premises which is only 20 minutes outside of Glasgow.
            </p>
            <br>
            <p class="left-p">
                <b>Book yourself onto one of our courses and enjoy learning the benefits of these holistic treatments.</b>
            </p>
            <hr id="hr-1">

        </div>

        <div class="col-md-4">
            <img class="zophias-tree" src="img/zophia-logo-tree2_1_orig.jpg">
        </div>

        <div class="hsl col-xs-12 col-md-4">
            <img class="hsl-img" src="img/e-learning-via-pond5.jpg">
            <h1 id="hsl-header">
                Home Study Learning
            </h1>
            <hr id="hr-2">
            <p class="right-p">
                Unlike our centre based courses, you can take the time you need to work through the course material while having access to
                ask us any questions that you may have whilst you study. You also have lifetime access to the course materials
                so you can always refer back to your course material as and when you need to. ​
            </p>
            <br>
            <p class="right-p">
                <b>Purchase one of our on-line home study courses and enjoy learning the benefits of these holistic treatments.</b>
            </p>
            <hr id="hr-2">
        </div>
    </div>
</div>